{% extends 'index.html' %}
{% block menu %}
     <ul class="nav navbar-nav">
        <li><a href="{% url 'base_view' %}">Бастапқы бет</a></li>
        <li class="active"><a href="{% url 'account_view' request.user %}">Жeке парақшам</a></li>
        <li><a href="{% url 'logout_view' %}"><i class="fa fa-sign-out"></i>Шығу</a></li> 
     </ul>
{% endblock menu %}

{% load crispy_forms_tags %}

{% block content %}
<br><br><br>
<div class="container">
	<form action="{% url 'send_message' %}" method="post">
		{{ form.error }}
		{% csrf_token %}
		{{ form|crispy }}
		{{ form.media }}
		<button class='btn btn-primary' type="submit">Жіберу</button>	
	</form>
</div>
<br><br>
{% endblock content %}